{
  "extends": [
      "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2023,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "no-case-declarations": "off",
    "no-empty": "off",
    "prefer-const": "off",
    "no-fallthrough": "off"
  },
  "ignorePatterns": [
      "**/lib/**/*.ts",
      "**/test/**/*.ts",
      "**/node_modules/**/*.ts"
  ]
}
